/* #zone3 body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
} */

#zone3 h1 {
  color: #2980b9;
  text-align: center;
  font-size: 2rem;
}

#zone3 form {
  margin-bottom: 20px;
}

#zone3 form h3 {
  margin: 1px 1.5rem;
  color: #2980b9;
}

#zone3 form label {
  display: block;
  margin-bottom: 5px;
}
  
#zone3 form input,
#zone3 form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#zone3 button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#zone3 button:hover {
  background-color: #2980b9;
}

#zone3 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#zone3 table,
#zone3 th,
#zone3 td {
  border: 1px solid #ddd;
}

#zone3 th,
#zone3 td {
  padding: 12px;
  text-align: left;
}

#zone3 th {
  background-color: #3498db;
  color: #fff;
}

#zone3 .dskh {
  color: #3498db;
  font-size: 2rem;
  text-align: center;
}
